div.container {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    font-family: Arial, Helvetica, sans-serif;
}

#body {
    position: relative;
    width: 100%;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
    border: 1px solid black;
}

#options {
    width: 100%;
}

.options-button {
    width: 100%;
}

#main {
    position: relative;
    text-align: center;
    float: left;
    margin-left: 5%;
    width: 60%;
    height: 100%;
}

#input-header{
    position: relative;
    height: 5%;
}
#input-user-input {
    position: relative;
    width: 100%;
    height: 95%;
}

#input-drop-area {
    outline: 1px solid gray;
    border-radius: 15px;
    position: relative;
    margin-bottom: 5%;
    width: 100%;
    height: 85%;

    align-content: center;
    text-align: center;
}

#input-buttons {
    position: relative;
    height: 5%;
}

#input-file-input {
    position: absolute;
    width: 50%;
    margin: 0;
    left: 0;
}

#input-submit-button {
    position: absolute;
    width: 30%;
    margin: 0;
    right: 0;
}

#canvas-container{
    position: relative;
    max-width: 800px;
    overflow: scroll;
}

#canvas{
    position: relative;
    width: 800px;
    height: 80px;
    border:1px solid #eee;
}


#footer{
    position: relative;
    width: 100%;
    height: 10%;
}


#search-container{
    position: relative;
    width: 100%;
    height: 100%;
}

#search-request-container{
    position: relative;
    width: 100%;
    height: 40%;
}

#search-result-container{
    position: relative;
    width: 100%;
    height: 60%;
}

#search-input-container, #search-label-container{
    width: 100%;
}

#search-input-container{
    height: 70%;
}

#search-label-container{
    height: 30%;
}

#search-container-input, #search-text{
    width: 100%;
    height: 100%;
}

#search-result-table {
    margin-top: 5%;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid purple;
    border-radius: 10%;
}

#search-result-table td{
    border-collapse: collapse;
    border: 1px solid purple;
}

#search-result-table td + #search-result-table td {
    border-left: 0;
    border-top: 0;
}

#search-result-table th{
    border-collapse: collapse;
    border: 1px solid purple;
}

tr{
    width: 100%;
}



.table-container {
    height: 200px;
}
#search-result-table {
    height: 100%;
    width: 100%;
}
#search-result-table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    height: 10%;
    width: 100%;
}

#search-tbody{
    display: block;
    width: 220px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

#search-result-table tbody tr {
    width: 100%;
}
#search-result-table thead, #search-result-table tbody tr {
    display: table;
    table-layout: fixed;
}