div.container {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    position: relative;
    width: 100%;
    height: 10%;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    font-family: Arial, Helvetica, sans-serif;
}

#footer{
    position: relative;
    width: 100%;    
    height: 20%;
}

#body {
    position: relative;
    width: 100%;
    height: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}

#user-img-name-container{
    position: relative;
    width: 100%;
    height: 50px;
    background: lightgrey;
    border-radius: 15px;
}

#user-name-label{
    position: relative;
    top: -50%;
    bottom: 50%;
    transform: translate(0%, -50%);
}

.options-table {
    width: 100%;
    margin-top: 5%;
}

.options-table tr{
    height: 40%;
    width: 100%;
}

.options-button {
    position: relative;
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    border: none;
    color: black;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.options-button:hover {
    background: #d5d5d5;
}

#main {
    position: relative;
    text-align: center;
    margin-left: 2%;
    background-color: #f5f5f5;
    border-radius: 15px;
    float: left;
    width: 70%;
    height: 100%;
}

#input-header{
    position: relative;
    height: 5%;
}
#input-user-input {
    margin-left: 5%;
    position: relative;
    width: 90%;
    height: 95%;
}

#input-drop-area {
    outline: 1px solid gray;
    border-radius: 15px;
    position: relative;
    margin-bottom: 5%;
    width: 100%;
    height: 85%;

    align-content: center;
    text-align: center;
}

#input-buttons {
    position: relative;
    height: 5%;
}

#input-file-input {
    position: absolute;
    width: 50%;
    margin: 0;
    left: 0;
}

#input-submit-button {
    position: absolute;
    width: 30%;
    margin: 0;
    right: 0;
}

#canvas-container{
    position: relative;
    max-width: 800px;
    overflow: scroll;
}

#canvas{
    position: relative;
    width: 800px;
    height: 80px;
    border:1px solid #eee;
}


#search-container{
    position: relative;
    width: 100%;
    height: 100%;
}

#search-request-container{
    position: relative;
    width: 100%;
    height: 40%;
}

#search-result-container{
    position: relative;
    width: 100%;
    height: 60%;
}

#search-input-container, #search-label-container{
    width: 100%;
}

#search-input-container{
    height: 70%;
}

#search-label-container{
    height: 30%;
}

#search-container-input, #search-text{
    width: 100%;
    height: 100%;
}

#search-result-table {
    margin-top: 5%;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid purple;
    border-radius: 10%;
}

#search-result-table td{
    border-collapse: collapse;
    border: 1px solid purple;
}

#search-result-table td + #search-result-table td {
    border-left: 0;
    border-top: 0;
}

#search-result-table th{
    border-collapse: collapse;
    border: 1px solid purple;
}

#search-result-table {
    height: 100%;
    width: 100%;
}
#search-result-table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    height: 10%;
    width: 100%;
}

#search-tbody{
    display: block;
    width: 220px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

#search-result-table tbody tr {
    width: 100%;
}
#search-result-table thead, #search-result-table tbody tr {
    display: table;
    table-layout: fixed;
}