@model AudioAnalyzer.Web.Models.ViewModels.HomeViewModel;

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio analyzer</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script>
        
        const audioContext = new AudioContext();
        let audioFile;
        let arrayBuffer;
        let audio;

        $(document).ready(function () {
            $("#main").load("/api/Home/Audio/Input");

            audio = document.querySelector("audio")

            // Example: Add custom play/pause buttons

        });
    
    </script>
</head>
<body>
<div class="container">
    <div id="header">Header</div>
    <div id="body">
        <div id="sidebar">
            <table id="options">
                <tr>
                    <td>
                        <button id="button-spectrogram" class="options-button">
                            Спектрограмма аудиофайла
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="button-basicinfo" class="options-button">
                            Базовая информация о аудиофайле
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="button-transcribe" class="options-button">
                            Транскрибация аудиофайла
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="button-summary" class="options-button">
                            Краткое содержание аудиофайла
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="button-search" class="options-button">
                            Поиск по аудиофайлу
                        </button>
                    </td>
                </tr>
            </table>
            <script src="/js/sidebar.js"></script>
        </div>
        <div id="main">
            
        </div>
    </div>
    <div id="footer">
        <div class="audio-player">
            <audio id="audio" controls>
                
            </audio>
        </div>
    </div>
</div>
</body>
</html>
