<table>
    <tr>
        <td>
            Название файла
        </td>
        <td id="fileName">

        </td>
    </tr>
    <tr>
        <td>
            Формат файла
        </td>
        <td id="fileExtension">

        </td>
    </tr>
    <tr>
        <td>
            Длительность
        </td>
        <td id="duration">

        </td>
    </tr>
    <tr>
        <td>
            Вес
        </td>
        <td id="length">

        </td>
    </tr>
    <tr>
        <td>
            Частота
        </td>
        <td id="sampleRate">

        </td>
    </tr>
    <tr>
        <td>
            Количество каналов
        </td>
        <td id="numberOfChannels">

        </td>
    </tr>
</table>

<script src="/js/basicInfo.js"></script>