@model AudioAnalyzer.Web.Models.ViewModels.SearchViewModel
<head>
    <title>Search</title>
</head>
<body>

<div id="search-container">
    <div id="search-request-container">
        <div id="search-label-container">
            <label id="search-text" for="search-container-input">Введите текст для поиска:</label>
        </div>
        <div id="search-input-container">
            <input id="search-container-input" type="text" name="text"/>
        </div>
    </div>
    <div id="search-result-container">
        <table id="search-result-table">
            <thead>
                <tr>
                    <th style="width: 20%">Время</th>
                    <th style="width: 80%;">Текст</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/search.js"></script>
</body>

<div>@Model.AudioAnalyzerResponse.AudioResponses[0].AnalyzedTexts[0].Text</div>

