@model AudioAnalyzer.Web.Models.ViewModels.TranscribeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Transcribe</title>
</head>
<body>
<div>
      @Model.TranscribedText
</div>
</body>
</html>