@model AudioAnalyzer.Web.Models.ViewModels.HomeViewModel;
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio analyzer</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/home_onload.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
</head>
<body>
<div class="container">
    <div id="header">Header</div>
    <div id="body">
        <div id="sidebar">
            <div id="user-account-div">
                <div>
                    Профиль
                </div>
                <div id="user-img-name-container">
                    <img id="user-account-picture"
                         width="50" height="50"
                         src="/img/DefaultUserImg.webp"
                         alt="user img"/>
                    <label id="user-name-label" for="user-account-picture">
                        @Model.UserName
                    </label>
                </div>
            </div>
            <table id="options-table">
                    <tr>
                        <td>
                            <button id="button-input" class="options-button">
                                Загрузить аудиофайлы
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="button-files" class="options-button">
                                Аудиофайлы
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="button-requests" class="options-button">
                                Запросы
                            </button>
                        </td>
                    </tr>
            </table>
            <script src="/js/sidebar.js"></script>
        </div>
        <div id="main">

        </div>
    </div>
    <div id="footer">
        <div class="audio-player">
            <audio id="audio" controls>
                
            </audio>
        </div>
    </div>
</div>
</body>
</html>
