@using AudioAnalyzer.Data
@model List<AudioAnalyzer.Data.Models.AudioRequest>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link rel="stylesheet" href="/css/result-table.css"/>
</head>
<body>
<div>
    <div>
        <table class="result-table">
            <thead>
            <tr>
                <td>
                    Тип запроса
                </td>
                <td>
                    Состояние
                </td>
                <td>
                    Файлы
                </td>
                <td>
                    Дата создания
                </td>
            </tr>
            </thead>
            <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td>@request.Id</td>
                    <td>@request.AudioRequestType.GetNameAttribute()</td>
                    <td>@request.IsProcessed</td>
                    <td>@request</td>
                    <td></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
</body>
</html>